.container > * {
    border: 3px solid gold;
    background-color: blanchedalmond;
    padding: 30px;
}

header {
    grid-area: header;
}

nav {
    grid-area: navbar;                          /**/
}